/* === BORDER === */

/* === OUTER BROWSER BORDER FIX === 

:root,
#main-window,
#navigator-toolbox,
#titlebar,
#TabsToolbar,
.browserContainer,
#appcontent,
#browser,
.browserSidebarContainer,
#zen-tabbox-wrapper,
#zen-appcontent-wrapper,
body,
body > hbox,
#zen-main-app {
  border-radius: var(--arc-border-radius, 12px);
} */
/* Specifically target the outermost window elements 
window,
#main-window,
:root[sizemode="normal"],
:root[sizemode="maximized"] {
  border-radius: var(--arc-border-radius, 12px) !important;
}
*/
/* Ensure the main browser area has sharp corners 

:root[sizemode="fullscreen"] #zen-main-app-wrapper,
:root[sizemode="maximize"] #zen-main-app-wrapper,
:root[inDOMFullscreen="true"] #zen-main-app-wrapper {
  border: 0 !important;
  border-radius: 0 !important;
  outline: none !important;
  outline-offset: 0 !important;
}

#zen-main-app-wrapper {
  border-radius: var(--arc-border-radius, 12px) !important;
  appearance: none !important;
  overflow: clip !important;
  padding: 0 !important;
} */
/*
body > hbox {
  border-radius: var(--arc-border-radius, 12px) !important;
} */

/* Ensure all browser elements have squared corners 
:root #browser,
:root body * {
  border-radius: var(--arc-border-radius, 12px) !important;
} */

/*
:root[sizemode="normal"] #zen-browser-background {
  border-radius: var(--arc-border-radius, 12px) !important;
}
*/

/* ABOVE COMMENTED CODE AFFECTS ZEN BROWSER WINDOW BORDER RADIUS */

#zen-site-data-header-bookmark::before,
#zen-site-data-header-screenshot::before,
#zen-site-data-header-reader-mode::before,
#zen-site-data-header-share::before,
#unified-extensions-area > toolbaritem,
unified-extensions-item.toolbaritem-combined-buttons,
#zen-site-data-new-addon-button,
#zen-site-data-security-info,
#zen-site-data-actions,
#navigator-toolbox,
#titlebar {
  border-radius: var(--arc-border-radius, 12px) !important;
}

/* Fix icon border radius */
.tab-icon-image,
.toolbarbutton-icon,
.toolbarbutton-animatable-iamge,
.unified-extensions-item-icon #downloads-indicator-icon {
  border-radius: 0 !important;
  overflow: visible !important;
}

/* :root:has(#tabbrowser-tabpanels [zen-split]) #tabbrowser-tabpanels > * {
  border-radius: 0 !important;
}

:root:has(#tabbrowser-tabpanels [zen-split]) .browserSidebarContainer {
  box-shadow: none !important;
}

:root:has(#tabbrowser-tabpanels [zen-split])
  .browserSidebarContainer[is-zen-split="true"] {
  margin: 0 !important;
}
*/
/* content window border radius */
:root:has([zen-compact-mode="true"]):has([zen-single-toolbar="true"]):not(
    [inDOMFullscreen="true"]
  )
  .browserSidebarContainer {
  border-radius: var(--arc-border-radius, 12px) !important;
}

:root:not([sizemode="normal"]) .browserSidebarContainer {
  border-radius: var(--arc-border-radius, 12px) !important;
}

/* content window + address bar */
#zen-appcontent-wrapper {
  border-radius: var(--arc-border-radius, 12px) !important;
  /* padding: 0 !important; */
}

window #zen-tabbox-wrapper {
  padding: 0 !important;
}

/* WEBVIEW BORDER RADIUS 
#tabbrowser-tabbox,
#tabbrowser-tabbox > * {
  margin: 0 !important; 
  padding: 0 !important;
  box-sizing: border-box !important;
}
*/
:root[zen-right-side="true"]:not(
    [zen-compact-mode="true"],
    [inDOMFullscreen="true"]
  )
  #zen-tabbox-wrapper {
  border-radius: var(--arc-border-radius, 12px) !important;
}

:root:not(
    [zen-right-side="true"],
    [zen-compact-mode="true"],
    [inDOMFullscreen="true"]
  )
  #zen-tabbox-wrapper {
  border-radius: var(--arc-border-radius, 12px) !important;
}

/* ADD WEBVIEW BORDER RADIUS TO CHILDREN ELEMENTS OF TABBOX */
:root:not([zen-compact-mode="true"]) #tabbrowser-tabpanels {
  border-radius: var(--arc-border-radius, 12px) !important;
}

:root:not([zen-compact-mode="true"]) #tabbrowser-tabpanels > * {
  border-radius: inherit !important;
  transition: border-radius 0.18s linear !important;
}

:root:has([zen-compact-mode="true"]):has([sizemode="normal"]):has(
    #zen-appcontent-navbar-wrapper[zen-has-hover="false"]
  )
  #zen-tabbox-wrapper {
  border-radius: var(--arc-border-radius, 12px) !important;
}

:root:has([zen-compact-mode="true"]):has([sizemode="normal"]):has(
    #zen-appcontent-navbar-wrapper[zen-has-hover="false"]
  )
  #tabbrowser-tabbox,
:root:has([zen-compact-mode="true"]):has([sizemode="normal"]):has(
    #zen-appcontent-navbar-wrapper[zen-has-hover="false"]
  )
  #tabbrowser-tabbox
  > * {
  border-radius: var(--arc-border-radius, 12px) !important;
}

:root[inDOMFullscreen="true"] #tabbrowser-tabpanels {
  border-radius: 0 !important;
}
